<form [formGroup]="creationUserForm" (ngSubmit)="onSubmit()">
	<div>
		<mat-form-field class="partial-width">
			<mat-label>Имя пользователя:</mat-label>
			<input matInput formControlName="fio" />
			<mat-error *ngIf="isErrorUsernameEmpty()">{{isErrorUsernameEmpty()}}</mat-error>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field class="partial-width">
			<mat-label>Email:</mat-label>
			<input matInput formControlName="email" />
			<mat-error *ngIf="isErrorEmail()">{{isErrorEmail()}}</mat-error>
		</mat-form-field>
	</div>
	<div>
		<mat-form-field class="partial-width">
			<mat-label>Пароль:</mat-label>
			<input matInput formControlName="password" type="password" />
			<mat-error *ngIf="isErrorPasswordEmpty()">{{isErrorPasswordEmpty()}}</mat-error>
		</mat-form-field>
	</div>
	<div>
		<button class="button user-creaton_button" type="submit" [disabled]="creationUserForm.invalid">Создать
			пользователя</button>
	</div>
</form>