.adminDashboard-section {
	display: flex;
}

li {
	padding: 15px;
}

a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
}

.admin_output {
	margin: 20px;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
 }
