.adminDashboard-section {
	display: flex;

}

.admin_nav {
	 width: 15%;
	 margin: 10px;
	 padding: 10px;
}

li {
	padding: 15px;
}

a {
	text-transform: uppercase;
	color: grey;
	font-weight: bold;
}

.admin_output {
	margin: 0 auto;
	padding: 20px;
// 	display: flex;
// 	flex-direction: column;
 //	justify-content: flex-end;
 }

 .active {
	color: green;
	text-shadow: 2px 1px 2px green;
 }
