<header>
	<div class='header_logo-group'>
		<div>
			<p class='header_app-name-logo'>MeetUps</p>
		</div>
		<div class='header_logo-item'>
			<img class='logo-group' src='/assets/logo.png' />
			<img class='logo-group' src='/assets/logo2.png' />
		</div>
	</div>
	<nav class="meetups-nav">
		<ul>
			<li>
				<a class="meetups-nav_item">Все митапы</a>
			</li>
			<li>
				<a class="meetups-nav_item">Мои митапы</a>
			</li>
			<li *ngIf="">
				<a class="meetups-nav_item">Пользователи</a>
			</li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li>
				<a routerLink="meetups" routerLinkActive="active">Meetups</a>
			</li>
			<li *ngIf="!userService.user; else authorized">
				<a routerLink="login"><img class='icon' src="/assets/user-icon.png" /></a>
			</li>
			<ng-template #authorized>
				<li>
					<a (click)='onLogout()'><img class='icon' src="/assets/exit-icon.png" /></a>
				</li>
			</ng-template>
		</ul>
	</nav>
</header>