<header>
	<div class='header_logo-group'>
		<div>
			<p class='header_app-name-logo'>MeetUps</p>
		</div>
		<div class='header_logo-item'>
			<img class='logo-group' src='/assets/logo.png' />
			<img class='logo-group' src='/assets/logo2.png' />
		</div>
	</div>
	<nav class="meetups-nav">
		<ul>
			<li *ngIf="authService.user">
				<a class="meetups-nav_item" routerLink='meetups/all_meetups' routerLinkActive="active">Все митапы</a>
			</li>
			<li *ngIf="authService.user">
				<a class="meetups-nav_item" routerLink="/meetups/my_meetups" routerLinkActive="active">Мои митапы</a>
			</li>
			<li *ngIf="isAdmin">
				<a class="meetups-nav_item" routerLink='admin_dashboard' routerLinkActive="active">Кабинет админа</a>
			</li>
		</ul>
	</nav>
	<nav>
		<ul>
			<li *ngIf="!authService.user; else authorized">
				<a routerLink="login"><img class='icon' src="/assets/user-icon.png" /></a>
			</li>
			<ng-template #authorized>
				<li>
					<a (click)='onLogout()'><img class='icon' src="/assets/exit-icon.png" /></a>
				</li>
			</ng-template>
		</ul>
	</nav>
</header>