<section>
	<h2>Приложение Meetup</h2>
	<div>
		<p>Это приложение создано для удобной работы со встречами.</p>
		<p>Для того, чтобы воспользоваться всеми возможностями, Вам необходима регистрация. Обратитесь для этого к
			администраторам данного приложения.</p>
		<p>Когда Вы зайдете по данным email/пароль, будут доступны две страницы - <span>Общая страница митапов</span>, а
			также
			<span>Страница для митапов, созданных Вами.</span>
		</p>
		<h4>Для общего списка митапов доступны некоторые опции, а именно:</h4>
		<ul>
			<li>Просмотр всех имеющихся митапов;</li>
			<li>Возможность перелистывать страницы</li>
			<li>Возможность присоединиться или покинуть митап;</li>
			<li>Посмотреть более подробную информацию о митапе;</li>
			<li>Поиск митапа по названию, описанию или создателю митапа;</li>
		</ul>
		<h4>Для митапов, созданных Вами, доступно:</h4>
		<ul>
			<li>Редактирование митапа;</li>
			<li>Удаление митапа;</li>
		</ul>
		<p>Также есть возможность получить роль Администратора</p>
		<h4>В этом случае Вам откроются следующие возможности:</h4>
		<ul>
			<li>Получение информации о всех пользователях системы;</li>
			<li>Создание пользователей;</li>
			<li>Редактирование пользователей;</li>
			<li>Присвоение/изменение пользователю роли/ролей;</li>
			<li>Создание и изменение ролей</li>
		</ul>
	</div>
</section>