@import '../../../styles.scss';

form {
	width: 800px;
	margin: 50px auto;
	padding: 50px 300px;
	background: grey;
	border-radius: 10px;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

input, textarea {
	padding: 10px;
	margin-left: 30px;
	outline: none;
	border-radius: 10px;
	border: none;
	box-shadow: 2px -2px 2px wheat;
}

label {
	font-size: medium;
	color: $white;
}

h2 {
	text-align: center;
	color: $white;
	text-shadow: 1px -1.5px 1px wheat;
}

div button {
	display: flex;
	justify-content: center;
	margin: 10px;
}

button {
	color: $grey;
	font-size: large;
	background: rgb(202, 199, 199);
	padding: 10px 15px;
	border: none;
	border-radius: 10px;
}


.create-meetup_name-field {
	display: flex;
	flex-direction: column;	
}

.create-meetup_error-name {
	margin: 0px;
}
	
// 	.form {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;
// }

// mat-form-field {
// 	display: flex;
// 	justify-content: center;
// }

// .form-creation-wrapper {

// }
.half-width {
	width: 50%;
}