<div class="spinner-wrapper" *ngIf="isLoadingRoles; else dataLoaded">
	<mat-spinner diameter="50" color="warn"></mat-spinner>
</div>
<ng-template #dataLoaded>
	<section class="section-roles">
		<h2>Роли:</h2>
		<table>
			<thead>
				<td>№п/п</td>
				<td>ID</td>
				<td>Название роли</td>
				<td></td>
				<td></td>
			</thead>
			<tbody *ngFor="let role of roles; let i=index">
				<td>{{(i+1)}}</td>
				<td>{{role.id}}</td>
				<td>{{role.name}}</td>
				<td class='change-role' (click)="onUpdateRole(role.id)">&#9998;
				</td>
				<td (click)="onDeleteRole(role.name)" class="delete-role">&#10008;</td>
			</tbody>
		</table>

		<div class="btn">
			<button (click)="toggleOpenForm()">{{openForm ? 'Закрыть': 'Открыть'}} форму создания новой роли?</button>
		</div>
		<form *ngIf='updateForm' (ngSubmit)="onUpdateSubmit()">
			<input #newName required ngForm>
			<button>Изменить</button>
		</form>
		<form *ngIf='openForm' (ngSubmit)="onAddRole()">
			<label>Название новой роли:</label>
			<input #roleName ngForm name="name" required />
			<!-- <span *ngIf="!roleName.valid">Поле обязательно для заполнения</span>-->
			<button type="submit">Создать новую роль</button>
		</form>
	</section>
</ng-template>