.section-roles h2 {
	text-align: center;
}

.section-roles {
	background: grey;
	padding: 40px;
	border-radius: 20px;
	border: 1px solid white;
	box-shadow: 2px 2px 2px 2px grey;
}

form {
	 display: flex;
	justify-content: center;
 flex-direction: column;
	margin: 0px auto;
}

label, button {
	width: 50%;
	margin: 10px;

}

label {
	color: white;
	text-align: center;
}

input {
	width: 50%;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 10px;
}

button {
	background: rgb(130, 238, 132);
	border: none;
	border-radius: 10px;

	padding: 10px 15px;
	font-size: medium;
	font-weight: 700;
	color: rgb(6, 131, 71);
}

.delete-role,
.change-role {
	cursor: pointer;
	font-size: large;
}

.delete-role {
	color: red;
}

.change-role {
	color: green;
}

thead td {
	font-weight: 700;
}

td {
	border: 1px solid rgb(220, 213, 213);
	padding: 10px;
}

.btn {
	display: flex;
	justify-content: center;
}
