.meetup-info {
	border: 2px solid grey;
	margin: 10px;
	padding: 10px;
}

.meetup-info_header {
	display: flex;
	justify-content: space-between;
}

.meetup-info_title {
	display: flex;
}

.meetup-info_content,
.meetup-info_author-info {
	display: flex;
	justify-content: space-between;
}

button {
	padding: 5px;
	margin: 10px;
	font-size: larger;
}




