<div class="users-list">
	<table>
		<caption>Пользователи:</caption>
		<thead>
			<td>№п/п</td>

			<td>ID пользователя</td>
			<td>Email</td>
			<td>Пароль</td>
			<td>ФИО</td>
			<td>Роль пользователя</td>
			<td></td>
			<td></td>
		</thead>
		<tbody *ngFor="let user of users; let i=index">
			<td>{{i+1}}</td>
			<td>{{user.id}}</td>
			<td>{{user.email}}</td>
			<td>{{user.password}}</td>
			<td>{{user.fio}}</td>
			<td *ngFor="let role of user.roles">{{role.name}}</td>
			<td class="users-list_button-style users-list_edit" [routerLink]="[user.id, 'update']">&#9998;
			</td>
			<td class="users-list_button-style users-list_delete" (click)="onDeleteUser(user.id)">&#10008;</td>
		</tbody>
	</table>
	<div>
		<button class="button users-list_create-user" routerLink="create">Создать пользователя</button>
	</div>
</div>