<div class="auth-wrapper">
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<mat-form-field class="full-width">
			<mat-label>Введите email:</mat-label>
			<input matInput type='text' id='email' formControlName="email" />
			<mat-error *ngIf="onEmailFieldErrors()">{{onEmailFieldErrors()}}</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
			<mat-label>Введите пароль:</mat-label>
			<input matInput type='password' id='password' formControlName="password" />
			<mat-error *ngIf="onPasswordFieldErrors()">{{onPasswordFieldErrors()}}</mat-error>
		</mat-form-field>
		<span *ngIf="serverError">ServerError: {{serverError}}</span>

		<div class="button-group">
			<a routerLink="/introduction">Что это за приложение?</a>
			<button class='button auth-button' type="submit" [disabled]="loginForm.invalid || serverError">Войти</button>
		</div>
	</form>
</div>