/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.button {
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
	font-size: large;
	cursor: pointer;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;

}

table {
	border-collapse: collapse;
	font-size: larger;
}


$grey: grey;
$meetupStyle: rgb(212, 207, 199);
$white: white;