.spinner-wrapper {
	display: flex;
	justify-content: center;
	margin: 30px;
}

.button-create-meetup-wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
} 

.input-filter-wrapper {
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 10px;
}

input {
	width: 20%;
	box-shadow: 2px 2px 2px grey;
	border: 2px solid grey;
	border-radius: 15px;
	outline: none;
	text-align: center;
}

::placeholder {
	text-align: center;
}

.input_filter {
	width: 300px;
	padding: 10px;
	margin-right: 20px;
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
}
.pagination-wrapper li {
	
	padding: 3px;
	margin: 5px;
}
.pagination-wrapper a {
	background: rgb(87, 87, 241);
	padding: 10px;
	margin: 10px;
	color: white;
	font-weight: 700;
	cursor: pointer;
}

li .activePage {
	background: rgb(36, 2, 92);
	box-shadow: 1px 1px 1px rgb(36, 2, 92);
}

