<div>
	<!-- <p *ngIf="isLoadingMeetups; else dataMeetings">is loading...</p> -->
	<div class="input-filter-wrapper">
		<input [(ngModel)]="filteredValue" type='text' class="input_filter"
			placeholder="Поиск по названию, описанию или автору" />
	</div>

	<div *ngIf="myMeetups">
		<app-meetup *ngFor="let meetup of myMeetups | filter:filteredValue" [meetup]="meetup"></app-meetup>
	</div>
	<div *ngIf="!myMeetups">
		<app-meetup *ngFor="let meetup of meetups | filter:filteredValue" [meetup]="meetup"></app-meetup>
	</div>
	<div class="button-create-meetup-wrapper">
		<button mat-raised-button color="primary" routerLink="/meetups/my_meetups/creation">Создать митап</button>
	</div>
</div>