<div *ngIf="isLoadingMeetups; else dataLoaded" class="spinner-wrapper">
	<mat-spinner diameter="50"></mat-spinner>
</div>
<ng-template #dataLoaded>
	<div>
		<div class="input-filter-wrapper">
			<form [formGroup]="searchForm">
				<input formControlName="filteredValue" type='text' class="input_filter"
					placeholder="Поиск по названию, описанию или автору" />
			</form>
		</div>


		<!-- *ngIf="myMeetups" -->
		<div>
			<app-meetup *ngFor="let meetup of meetupsForUI | paginate:currentPage" [meetup]="meetup"></app-meetup>
		</div>
		<!-- <div *ngIf="!myMeetups">
			<app-meetup *ngFor="let meetup of (filteredMeetups || meetups) | sort:sortedBy | paginate: currentPage"
				[meetup]="meetup"></app-meetup>
		</div> -->
		<div class="button-create-meetup-wrapper">
			<button mat-raised-button color="primary" routerLink="/meetups/my_meetups/creation">Создать митап</button>
		</div>
	</div>
	<!--pagination-->
	<div class="pagination-wrapper">
		<nav>
			<ul>
				<li>
					<a *ngFor="let page of pages" (click)="onChoosePage(page)"
						[ngClass]="{activePage: page === currentPage}">{{page}}</a>
				</li>
			</ul>
		</nav>
	</div>
</ng-template>